$primary-color-dark:   #C2256A;
$primary-color:        #FF55B2;
$primary-color-light:  #ff8be4;
$primary-color-text:   #FFFFFF;
$accent-color:         #4E1184;
$accent-color-dark:    #0E1555;
$primary-text-color:   #363C43;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;




